In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('/Users/rcharles/Desktop/python-ml/pythonmachinelearning/_athlete_events.csv')

In [9]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [10]:
df.rename(columns={'Name':'Nome', 'Sex':'Sexo', 'Age':'Idade', 'Height': 'Altura', 'Weight':'Peso', 'Team':'Equipe', 'Games':'Jogos'
, 'Year': 'Ano', 'Season':'Temporada','City':'Cidade', 'Sport':'Esporte', 'Event':'Evento', 'Medal':'Medalha'}, inplace=True)

In [11]:
df['Cidade'].value_counts()

Cidade
London                    22426
Athina                    15556
Sydney                    13821
Atlanta                   13780
Rio de Janeiro            13688
Beijing                   13602
Barcelona                 12977
Los Angeles               12423
Seoul                     12037
Munich                    10304
Montreal                   8641
Mexico City                8588
Helsinki                   8270
Roma                       8119
Tokyo                      7702
Moskva                     7191
Paris                      7169
Berlin                     6506
Amsterdam                  4992
Sochi                      4891
Melbourne                  4829
Vancouver                  4402
Torino                     4382
Stockholm                  4338
Antwerpen                  4292
Salt Lake City             4109
Innsbruck                  3639
Nagano                     3605
Albertville                3436
Lillehammer                3160
Calgary                    2639
Sarajevo                   2134
Lake Placid                2098
Grenoble                   1891
Sankt Moritz               1657
Sapporo                    1655
Cortina d'Ampezzo          1307
St. Louis                  1301
Squaw Valley               1116
Oslo                       1088
Garmisch-Partenkirchen      895
Chamonix                    460
Name: count, dtype: int64

Excluindo coluna de um dataframe, comando Drop.

A linha de código que você forneceu é usada para remover a coluna chamada 'id' de um DataFrame chamado df. Aqui está uma explicação detalhada do que cada parte faz:

df.drop('id', axis=1, inplace=True): Este é um método chamado no DataFrame df.
'id': Isso especifica a coluna que será removida.
axis=1: Isso especifica que uma coluna deve ser removida. (Se axis=0 fosse usado, ele removeria uma linha em vez de uma coluna.)
inplace=True: Isso modifica o DataFrame df diretamente, o que significa que a operação é realizada diretamente no DataFrame sem a necessidade de atribuir o resultado de volta ao df.

In [13]:
df.drop('ID', axis=1, inplace=False)

,Nome,Sexo,Idade,Altura,Peso,Equipe,NOC,Jogos,Ano,Temporada,Cidade,Esporte,Evento,Medalha
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN